<!DOCTYPE html>
{% import 'macros.html' as lib %}
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>{% block page_title %}{% endblock %} • CSAT</title>

		{% block styles -%}
		{{ lib.loadcss("bootstrap_css") }}
		{{ lib.loadcss("screen_css") }}
		{%- endblock %}
	</head>
	<body>
		{% block navbar %}
		<div class="navbar">
			<div class="navbar-inner">
				<a class="brand" href="/">CSAT</a>
				<ul class="nav">
					<li><a href="{% url 'csat:acquisition:session-index' %}">Data acquisition</a></li>
					<li><a href="{% url 'csat:visualization:database-list' %}">Visualize</a></li>
				</ul>
			</div>
		</div>
		{% endblock %}

		{% block content %}{% endblock %}

		{% block scripts -%}
		{{ lib.loadjs("libraries_js") }}
		{{ lib.loadjs("master_js") }}
		{%- endblock %}
	</body>
</html>

