@import compass
@import variables


.graph-list
	.front-panel
		text-align: center

		a

	strong
		width: 200px
		font-weight: normal
		font-size: 20px
		padding: 20px 0 0px
		display: block
		text-align: left
		border-top: 1px solid #e0e0e0

	img
		max-width: 200px
		max-height: 200px
		padding-bottom: 20px
		display: block

	a + a
		margin-left: 10px


.scene
	position: absolute
	border: 1px solid #ccc
	z-index: -1
	display: none


#scene0, #viewport
	display: block
	top: 80px
	left: 20px
	right: 20px
	bottom: 20px

#scene1
	top: 80px
	left: 540px

#scene2
	top: 600px
	left: 20px

#scene3
	top: 600px
	left: 540px
